<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="By calling you consent to being recorded. Call Liam Neeson and be threatened for entertainment purposes." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="liam-banner.jpg" />
    <title>LiamAI</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga4code %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= ga4code %>");
    </script>
  </head>
  <body>
    <header class="hero">
      <div class="hero__bg"></div>
      <div class="hero__card">
        <h1 class="hero__title">
          <span style="color: #03a24d">LiamAI</span> powered by <br />
          <span class="typer" id="main" data-words="OpenAI, Twilio, ElevenLabs, Endato" data-delay="100" data-deleteDelay="2500"></span>
          <span class="cursor" data-owner="main"></span>
          &nbsp;
        </h1>
        <p class="hero__desc">Experience the Thrill: Let AI Liam Neeson's Harmless Threats Entertain You! Calls are Recorded.</p>

        <a href="tel:3616872721" class="btn">
          <div class="btn__spacer spaceInvader">
            <div class="spaceInvader__character">
              <div class="spaceInvader__bullet"></div>
              <svg class="spaceInvader__svg" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path
                    style="fill: black"
                    d="M469.344,266.664v-85.328h-42.656v-42.672H384v-21.328h42.688v-64h-64v42.656H320v42.672H192V95.992 h-42.656V53.336h-64v64H128v21.328H85.344v42.672H42.688v85.328H0v149.328h64v-85.328h21.344v85.328H128v42.672h106.688v-64h-85.344 v-21.328h213.344v21.328h-85.344v64H384v-42.672h42.688v-85.328H448v85.328h64V266.664H469.344z M192,245.336h-64v-64h64V245.336z M384,245.336h-64v-64h64V245.336z"
                  ></path>
                </g>
              </svg>
            </div>
          </div>
          <div>Call</div>
          <div class="btn__spacer"></div>
        </a>
        <small class="hero_disclaimer"><strong>By calling you are consenting to being recorded.</strong></small>

        <br />
        <a class="author" href="https://github.com/MrWebMD/liam-ai">Made By MrWebMD</a>
      </div>
    </header>
    <a href="https://github.com/MrWebMD/liam-ai" class="githubLink"></a>
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.rings.min.js"></script>
    <script>
      VANTA.RINGS({
        el: ".hero__bg",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        backgroundColor: "white",
      });
    </script>
  </body>
</html>
