<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="By calling you consent to being recorded. Call Liam Neeson and be threatened for entertainment purposes." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="liam-banner.jpg" />
    <title>LiamAI</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga4code %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= ga4code %>");
    </script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

      body {
        font-family: "Roboto", sans-serif;
        padding: 0;
        margin: 0;
      }

      .gradientAnimation {
        background: linear-gradient(270deg, #00bb0c, #178a00);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 6s ease infinite;
        -moz-animation: AnimationName 6s ease infinite;
        -o-animation: AnimationName 6s ease infinite;
        animation: AnimationName 6s ease infinite;
      }

      @-webkit-keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }
      @-moz-keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }
      @-o-keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }
      @keyframes AnimationName {
        0% {
          background-position: 0% 51%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 51%;
        }
      }

      img {
        width: 100%;
      }
      .hero {
        max-width: 100vw;
        min-height: 100vh;
        display: flex;
        overflow: hidden;
      }
      .hero__desc {
        font-size: 25px;
      }
      .hero__card {
        width: 40vw;
        min-width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .hero__title {
        font-size: 50px;
        margin: 0px;
        font-style: normal;
      }
      a {
        text-decoration: none;
      }
      .hero__bg {
        width: 100vw;
        max-width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        filter: opacity(0.3);
      }
      .hero__img {
        max-width: 300px;
      }

      .githubLink {
        background-image: url("github-icon.svg");
        background-position: center;
        background-size: contain;
        filter: contrast(0);
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
      }
      .btn {
        width: 100%;
        max-width: 300px;
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        border: 0px;
        padding: 5px 0px;
        margin: 10px 0;
        cursor: pointer;
        display: block;
        color: white;
        text-decoration: none;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 4px;
      }
      .btn--brightOnHover {
        transition: filter 0.2s ease-in-out 0s;
      }
      .btn--brightOnHover:hover {
        filter: brightness(1.2);
      }
      .btn--green {
        background-color: var(--green);
      }

      @media screen and (max-width: 600px) {
        .hero__card {
          padding: 0;
          border: 0px;
          min-height: 60vh;
        }
        .hero {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
        }

        .hero__desc {
          font-size: 19px;
        }
        .hero__bg {
          left: 0;
        }
        .btn {
          font-size: 25px;
          margin: 10px auto;
        }
        .hero__card {
          max-width: unset;
          min-width: unset;
          width: unset;
          text-align: center;
          background-color: unset;
          padding: 20px;
          border-radius: 5px;
        }
      }
    </style>
  </head>
  <body>
    <header class="hero">
      <div class="hero__bg"></div>
      <div class="hero__card">
        <h1 class="hero__title">
          <span style="color: #03a24d">LiamAI</span> powered by
          <br />
          <span class="typer" id="main" data-words="OpenAI, Twilio, ElevenLabs, Endato" data-delay="100" data-deleteDelay="2500"></span>
          <span class="cursor" data-owner="main"></span>
        </h1>
        <p class="hero__desc">Experience the Thrill: Let AI Liam Neeson's Harmless Threats Entertain You! Calls are Recorded.</p>
        <a href="tel:3616872721" class="btn btn--green btn--brightOnHover gradientAnimation">Call</a>
        <small class="hero_disclaimer"><strong>By calling you are consenting to being recorded.</strong></small>

        <br />
        <a class="author" href="https://github.com/MrWebMD/liam-ai">Made By MrWebMD</a>
      </div>
    </header>
    <a href="https://github.com/MrWebMD/liam-ai" class="githubLink"></a>
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.rings.min.js"></script>
    <script>
      VANTA.RINGS({
        el: ".hero__bg",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.0,
        minWidth: 200.0,
        scale: 1.0,
        scaleMobile: 1.0,
        backgroundColor: "white",
      });
    </script>
  </body>
</html>
